html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

canvas {
  display: block;
}

p {
  margin: 1em;
}

sketchHolder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  pointer-events: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#keyguide {
  width: 1000px;
  left: 20vw;
  top: 25vh;
  position: absolute;
  z-index: 10;
  opacity: 0.5;
}

.hideKeyguide {
  visibility: hidden;
}
